PORT = 8000
MONGODB_URL = mongodb+srv://db_user:<password>@cluster1.efq1rke.mongodb.net
CORS_ORIGIN = *
ACCESS_TOKEN_SECRET =use-your-own
ACCESS_TOKEN_EXPIRY =1d
REFRESH_TOKEN_SECRET =use-your-own
REFRESH_TOKEN_EXPIRY =3d